# Local Terraform configuration files
.terraform/
.terraform.lock.hcl

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Ignore generated plan files
*.tfplan

# Ignore CLI command history
.terraform.rc
terraform.tfvars
terraform.tfvars.json

# Ignore environment variable configuration
*.auto.tfvars
*.auto.tfvars.json

# Ignore files used by editor/IDE
.vscode/
.idea/
*.swp
*.bak
*.tmp

# Ignore operating system files
.DS_Store
Thumbs.db
